<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEightBall" />
                <binding name="BasicHttpBinding_IEightBall1" />
            </basicHttpBinding>
        </bindings-->
    <!-- Enable the MEX endpoint -->
    <services>
      <service name = "MagicEightBallServiceLib.MagicEightBallService">
        <endpoint address = ""
                  binding = "netTcpBinding"
                  contract = "MagicEightBallServiceLib.IEightBall"/>

        <!-- Need to add this so MEX knows the address of our service -->
        <host>
          <baseAddresses>
            <!--add baseAddress="http://localhost:8080/MagicEightBallService" -->
            <add baseAddress = "net.tcp://localhost:8090/MagicEightBallService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- A behavior definition for MEX -->
    <!---behaviors>
        <serviceBehaviors>
          <behavior name="EightBallServiceMEXBehavior"   >
            <serviceMetadata httpGetEnabled="true"   />
          </behavior>
        </serviceBehaviors>
      </behaviors>
        <client>
            <endpoint address="http://localhost:8080/MagicEightBallService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEightBall"
                contract="IEightBall" name="BasicHttpBinding_IEightBall" />
            <endpoint address="http://localhost:8080/MagicEightBallService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEightBall1"
                contract="ServiceReference1.IEightBall" name="BasicHttpBinding_IEightBall1" />
        </client-->
  </system.serviceModel>
</configuration>